body{
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    background-color: rgb(230,230,230);
}

.container{
    border: none;
    border-radius: 15px;
    background-color: rgb(156, 222, 252);
    min-height: 50vh;
    height: auto;
    width: 25vw;
    box-shadow: 4px 5px 6px;
}

.header{
    text-align: center;
    font-size: 1.7em;
    padding: 10px;
    font-weight: bold;
    border-bottom: 0.5px solid white;
    margin-bottom: 20px;
}

.addTask{
    display: flex;
    justify-content: space-evenly;
}

input{
    padding: 7px;
    border-radius: 5px;
}

button:hover{
    border: 5px solid rgb(6, 182, 201);
    background-color: white;
    box-shadow: 2px 2px 2px;
    font-weight: bold;
}

button{
    background-color: rgb(244, 242, 153);
    color: rgb(11, 11, 11);
    padding: 4px;
    border-radius: 10px;
}

ul{
    list-style: none;
    padding: 15px;
}

li{
    display: flex;
    justify-content: space-between;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 7px;
    padding: 10px;
}